<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mergedata.mapper.CashMapper">

    <select id="selectByDate" resultType="YQCashRegRecord">
        select * from
        mpp_cash_reg_record
        WHERE save_date= #{date}
    </select>



</mapper>