<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mergedata.mapper.HolidayMapper">

    <resultMap id="YQHolidayCalendarMap" type="com.mergedata.model.entity.YQHolidayCalendarEntity">
        <id column="serial_no" property="serialNo"/>
        <resultDTO column="holiday_date" property="holidayDate"/>
        <resultDTO column="isvalid" property="validStatus"/>
        <resultDTO column="holiday_type" property="holidayType"/>
        <resultDTO column="holiday_year" property="holidayYear"/>
        <resultDTO column="holiday_month" property="holidayMonth"/>
        <resultDTO column="creator" property="creator"/>
        <resultDTO column="created_time" property="createdTime"/>
        <resultDTO column="update_time" property="updateTime"/>
        <resultDTO column="update_count" property="updateCount"/>
        <resultDTO column="remark" property="remark"/>
    </resultMap>

    <select id="selectAll" resultMap="YQHolidayCalendarMap">
        SELECT *
        FROM  mpp_cash_reg_holiday
        WHERE isvalid = '1'
        order by holiday_year,holiday_date
    </select>

    <select id="selectByDate" resultMap="YQHolidayCalendarMap">
        SELECT *
        FROM  mpp_cash_reg_holiday
        WHERE holiday_date = #{holidayDate} AND isvalid = '1'
        order by holiday_year,holiday_date
    </select>

    <insert id="insert" parameterType="com.mergedata.model.entity.YQHolidayCalendarEntity">
        INSERT INTO mpp_cash_reg_holiday (
            serial_no, holiday_date,holiday_type, holiday_year, holiday_month,
            creator, update_time, update_count, remark
        )
        VALUES (
                   #{serialNo, jdbcType=VARCHAR},
                   #{holidayDate, jdbcType=DATE},
                   #{holidayType, jdbcType=VARCHAR},
                   #{holidayYear, jdbcType=NUMERIC},
                   #{holidayMonth, jdbcType=NUMERIC},
                   #{creator, jdbcType=VARCHAR},
                   #{updateTime, jdbcType=DATE},
                   #{updateCount, jdbcType=NUMERIC},
                   #{remark, jdbcType=VARCHAR}
               )
    </insert>

    <insert id="batchInsertList">
        INSERT INTO mpp_cash_reg_holiday (
        serial_no, holiday_date, holiday_type, holiday_year, holiday_month,
        creator, update_time, update_count, remark
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.serialNo, jdbcType=VARCHAR},
            #{item.holidayDate, jdbcType=DATE},
            #{item.holidayType, jdbcType=VARCHAR},
            #{item.holidayYear, jdbcType=NUMERIC},
            #{item.holidayMonth, jdbcType=NUMERIC},
            #{item.creator, jdbcType=VARCHAR},
            #{item.updateTime, jdbcType=DATE},
            #{item.updateCount, jdbcType=NUMERIC},
            #{item.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.mergedata.model.entity.YQHolidayCalendarEntity">
        UPDATE mpp_cash_reg_holiday set
            update_time = SYSDATE,
            isvalid = '0',
            update_count = update_count + 1
        WHERE holiday_date = #{holidayDate}
    </update>

    <delete id="delete" parameterType="com.mergedata.model.entity.YQHolidayCalendarEntity">
        DELETE FROM mpp_cash_reg_holiday
        WHERE serial_no = #{serialNo}
    </delete>
</mapper>