<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mergedata.mapper.OperatorMapper">

    <resultMap id="YQOperatorMap" type="com.mergedata.model.YQOperator">
        <id column="serial_no" property="serialNo"/>
        <result column="operator_no" property="operatorNo"/>
        <result column="operator_name" property="operatorName"/>
        <result column="department_id" property="departmentId"/>
        <result column="isvalid" property="validStatus"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column=" updator" property=" updator"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_count" property="updateCount"/>
        <result column="row_num" property="rowNum"/>
        <result column="inp_window" property="inpWindow"/>
        <result column="atm" property="atm"/>


    </resultMap>

    <select id="selectAll" resultMap="YQOperatorMap">
        SELECT
        operator_no,
        operator_name,
        department_id,
        isvalid,
        creator,
        create_time,
         updator,
        update_time,
        update_count,serial_no,row_num,inp_window,atm
        FROM
        MPP_CASH_REG_OPERATOR
        WHERE
        isvalid = '1'
        order by row_num
    </select>

    <select id="selectByID" resultMap="YQOperatorMap">
        SELECT
        operator_no, operator_name, department_id, isvalid, creator,
        create_time,  updator, update_time, update_count,serial_no,row_num,inp_window,atm
        FROM
        MPP_CASH_REG_OPERATOR
        WHERE
        operator_no = #{operatorNo}
        AND isvalid = '1'
    </select>

    <insert id="insert" parameterType="com.mergedata.model.YQOperator">
        INSERT INTO MPP_CASH_REG_OPERATOR (
        operator_no, operator_name, department_id,  creator,
          updator, update_time,serial_no,row_num,inp_window,atm
        )
        VALUES (
        #{operatorNo , jdbcType=VARCHAR },
        #{operatorName , jdbcType=VARCHAR},
        #{departmentId, jdbcType=VARCHAR}, #{creator, jdbcType=VARCHAR},
         #{updator, jdbcType=VARCHAR}, #{updateTime, jdbcType=DATE},
        #{serialNo , jdbcType=VARCHAR },
        #{rowNum , jdbcType=VARCHAR },
        #{inpWindow , jdbcType=VARCHAR },
        #{atm , jdbcType=VARCHAR }
        )
    </insert>

    <insert id="batchInsertList">
        INSERT INTO MPP_CASH_REG_OPERATOR (
        operator_no, operator_name, department_id, isvalid, creator,
         updator, update_count,serial_no
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.operatorNo}, #{item.operatorName}, #{item.departmentId}, #{item.validStatus}, #{item.creator},
            #{item.createTime}, #{item. updator}, #{item.updateTime}, #{item.updateCount},#{item.serialNo}
            )
        </foreach>
    </insert>


    <insert id="delete" parameterType="com.mergedata.model.YQOperator">
         delete from  MPP_CASH_REG_OPERATOR where operator_no =#{operatorNo}
    </insert>

</mapper>