<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mergedata.mapper.ReportMapper">

    <resultMap id="MainWithSubMap" type="com.mergedata.model.CashStattisticsMain">
        <id column="main_serial_no" property="serialNo"/>
        <result column="report_date" property="reportDate"/>
        <result column="report_year" property="reportYear"/>
        <result column="isvalid" property="isvalid"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

        <collection property="subs" ofType="com.mergedata.model.CashStatisticsSub">
            <result column="sub_serial_no" property="serialNo"/>
            <result column="emp_id" property="hisOperatorNo"/>
            <result column="emp_name" property="hisOperatorName"/>
            <result column="his_advance_payment" property="hisAdvancePayment"/>
            <result column="his_medical_income" property="hisMedicalIncome"/>
            <result column="his_registration_income" property="hisRegistrationIncome"/>
            <result column="report_amount" property="reportAmount"/>
            <result column="previous_temporary_receipt" property="previousTemporaryReceipt"/>
            <result column="holiday_temporary_receipt" property="holidayTemporaryReceipt"/>
            <result column="actual_report_amount" property="actualReportAmount"/>
            <result column="current_temporary_receipt" property="currentTemporaryReceipt"/>
            <result column="actual_cash_amount" property="actualCashAmount"/>
            <result column="retained_difference" property="retainedDifference"/>
            <result column="retained_cash" property="retainedCash"/>
            <result column="petty_cash" property="pettyCash"/>
            <result column="remarks" property="remarks"/>
            <result column="row_num" property="rowNum"/>
            <result column="acct_no" property="acctNo"/>
            <result column="acct_date" property="acctDate"/>
        </collection>
    </resultMap>

    <resultMap id="ReportMap" type="com.mergedata.model.Report">
        <result column="main_serial_no" property="serialNo"/>
        <result column="emp_id" property="operatorNo"/>
        <result column="emp_name" property="operatorName"/>

        <result column="report_date" property="reportDate"/>
        <result column="report_year" property="reportYear"/>
        <result column="create_time" property="createTime"/>

        <result column="his_advance_payment" property="hisAdvancePayment"/>
        <result column="his_medical_income" property="hisMedicalIncome"/>
        <result column="his_registration_income" property="hisRegistrationIncome"/>
        <result column="report_amount" property="reportAmount"/>
        <result column="previous_temporary_receipt" property="previousTemporaryReceipt"/>
        <result column="holiday_temporary_receipt" property="holidayTemporaryReceipt"/>
        <result column="actual_report_amount" property="actualReportAmount"/>
        <result column="current_temporary_receipt" property="currentTemporaryReceipt"/>
        <result column="actual_cash_amount" property="actualCashAmount"/>
        <result column="retained_difference" property="retainedDifference"/>
        <result column="retained_cash" property="retainedCash"/>
        <result column="petty_cash" property="pettyCash"/>
        <result column="remarks" property="remarks"/>
        <result column="row_num" property="rowNum"/>
        <result column="acct_no" property="acctNo"/>
        <result column="acct_date" property="acctDate"/>
        <result column="inp_window" property="inpWindow"/>
        <result column="atm" property="atm"/>
    </resultMap>

    <select id="selectByPk" resultMap="ReportMap">
        SELECT
        m.serial_no AS main_serial_no, m.report_date,
        m.report_year,
        m.create_time,

        s.emp_id, s.emp_name, s.his_advance_payment, s.his_medical_income, s.his_registration_income,
        s.report_amount, s.previous_temporary_receipt, s.holiday_temporary_receipt, s.actual_report_amount,
        s.current_temporary_receipt, s.actual_cash_amount, s.retained_difference, s.retained_cash,
        s.petty_cash, s.remarks,s.row_num,s.acct_no,s.acct_date
        FROM
        MPP_CASH_STATISTICS_MASTER m
        LEFT JOIN
        mpp_cash_statistics_sub s
        ON
        m.serial_no = s.serial_no
        WHERE
        m.serial_no = #{serialNo}
        AND m.isvalid = '1'
        order by s.row_num
    </select>

    <select id="selectByDate" resultMap="MainWithSubMap">
        SELECT
        m.serial_no AS main_serial_no, m.report_date,
        m.report_year, m.isvalid,
        m.creator, m.create_time,
        m.update_time,s.serial_no AS sub_serial_no,
        s.emp_id, s.emp_name, s.his_advance_payment, s.his_medical_income, s.his_registration_income,
        s.report_amount, s.previous_temporary_receipt, s.holiday_temporary_receipt, s.actual_report_amount,
        s.current_temporary_receipt, s.actual_cash_amount, s.retained_difference, s.retained_cash,
        s.petty_cash, s.remarks,s.row_num,s.acct_no,s.acct_date
        FROM
        MPP_CASH_STATISTICS_MASTER m
        LEFT JOIN
        mpp_cash_statistics_sub s
        ON
        m.serial_no = s.serial_no
        WHERE
        m.report_date = #{reportDate}
        AND m.isvalid = '1'
        order by s.row_num
    </select>


    <select id="selectReportByDate" resultMap="ReportMap">
        SELECT
        m.serial_no AS main_serial_no, m.report_date,
        m.report_year,
        m.create_time,
        s.emp_id, s.emp_name, s.his_advance_payment, s.his_medical_income, s.his_registration_income,
        s.report_amount, s.previous_temporary_receipt, s.holiday_temporary_receipt, s.actual_report_amount,
        s.current_temporary_receipt, s.actual_cash_amount, s.retained_difference, s.retained_cash,
        s.petty_cash, s.remarks,s.acct_no,s.acct_date,s.row_num,r.inp_window,r.atm
        FROM
        MPP_CASH_STATISTICS_MASTER m
        LEFT JOIN mpp_cash_statistics_sub s ON m.serial_no = s.serial_no
        LEFT JOIN mpp_cash_reg_operator r ON r.operator_no = s.emp_id
        WHERE
        m.report_date = #{reportDate}
        AND m.isvalid = '1'
        order by s.row_num
    </select>


    <select id="findReport" resultMap="com.mergedata.dto.ReportRequestBody">
        SELECT
        m.serial_no AS main_serial_no, m.report_date,
        m.report_year,
        m.create_time,
        s.emp_id, s.emp_name, s.his_advance_payment, s.his_medical_income, s.his_registration_income,
        s.report_amount, s.previous_temporary_receipt, s.holiday_temporary_receipt, s.actual_report_amount,
        s.current_temporary_receipt, s.actual_cash_amount, s.retained_difference, s.retained_cash,
        s.petty_cash, s.remarks,s.acct_no,s.acct_date,s.row_num,r.inp_window,r.atm
        FROM
        MPP_CASH_STATISTICS_MASTER m
        LEFT JOIN mpp_cash_statistics_sub s ON m.serial_no = s.serial_no
        LEFT JOIN mpp_cash_reg_operator r ON r.operator_no = s.emp_id
        WHERE
        m.report_date = #{reportDate}
        AND m.isvalid = '1'
<!--        <if test="inpWindow == 1">-->
<!--            AND r.inp_window = 1-->
<!--        </if>-->
<!--        <if test="atm == 1">-->
<!--            AND r.atm = 1-->
<!--        </if>-->
        order by s.row_num
    </select>


    <insert id="batchInsertList">
        INSERT INTO MPP_CASH_STATISTICS_MASTER (
        serial_no, report_date, report_year,  isvalid, creator, create_time, update_time
        )
        VALUES
        <foreach collection="list" item="main" separator=",">
            (
            #{main.serialNo, jdbcType=VARCHAR},
            #{main.reportDate, jdbcType=DATE},
            #{main.reportYear, jdbcType=NUMERIC},
            #{main.isvalid, jdbcType=VARCHAR},
            #{main.creator, jdbcType=VARCHAR},
            #{main.createTime, jdbcType=TIMESTAMP},
            #{main.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <insert id="batchInsertSubList">
        INSERT INTO mpp_cash_statistics_sub (
        serial_no,
        emp_id,
        emp_name,
        his_advance_payment,
        his_medical_income,
        his_registration_income,
        report_amount,
        previous_temporary_receipt,
        holiday_temporary_receipt,
        actual_report_amount,
        current_temporary_receipt,
        actual_cash_amount,
        retained_difference,
        retained_cash,
        petty_cash,
        remarks,row_num,acct_no,acct_date
        )
        SELECT * FROM (
        <foreach collection="list" item="sub" separator="UNION ALL">
            SELECT
            #{sub.serialNo},
            #{sub.hisOperatorNo},
            #{sub.hisOperatorName},
            #{sub.hisAdvancePayment},
            #{sub.hisMedicalIncome},
            #{sub.hisRegistrationIncome},
            #{sub.reportAmount},
            #{sub.previousTemporaryReceipt},
            #{sub.holidayTemporaryReceipt},
            #{sub.actualReportAmount},
            #{sub.currentTemporaryReceipt},
            #{sub.actualCashAmount},
            #{sub.retainedDifference},
            #{sub.retainedCash},
            #{sub.pettyCash},
            #{sub.remarks},
            #{sub.rowNum, jdbcType=NUMERIC},
            #{sub.acctNo, jdbcType=VARCHAR},
            #{sub.acctDate, jdbcType=TIMESTAMP}

            FROM DUAL
        </foreach>
        )
    </insert>

    <update id="updateByDate">
        UPDATE MPP_CASH_STATISTICS_MASTER
        SET
        update_time = sysdate,
        isvalid = '0'
        WHERE
        report_date = #{reportDate}
        AND  isvalid = '1'
    </update>

    <update id="updateByPK">
        UPDATE MPP_CASH_STATISTICS_MASTER
        SET
        update_time = sysdate,
        isvalid = '0'
        WHERE
        serial_no = #{serialNo}
        AND  isvalid = '1'
    </update>



    <insert id="InsertMain" parameterType="com.mergedata.model.CashStattisticsMain">
        INSERT INTO MPP_CASH_STATISTICS_MASTER (
        serial_no, report_date, report_year,  isvalid, creator, create_time, update_time
        )
        VALUES
            (
            #{serialNo, jdbcType=VARCHAR},
            #{reportDate, jdbcType=DATE},
            #{reportYear, jdbcType=NUMERIC},
            #{isvalid, jdbcType=VARCHAR},
            #{creator, jdbcType=VARCHAR},
            #{createTime, jdbcType=TIMESTAMP},
            #{updateTime, jdbcType=TIMESTAMP}
            )

    </insert>

</mapper>